<launch>
    <arg name="port" default="/dev/ttyUSB0"/>
    <arg name="node_name" default="piksi_node"/>
    <arg name="diag_on" default="false"/>
    <arg name="tn_prefix" default="sensor/piksi/"/>
    <arg name="piksi_name" default="piksi"/>

    <node pkg="swiftnav_piksi" type="piksi_node" name="$(arg node_name)" output="screen">
	    <param name="port" value="$(arg port)" />
        <param name="frame_name" value="gps_piksi_rover_1" />
        <param name="tn_prefix" value="$(arg tn_prefix)" />
        <param name="piksi_name" value="$(arg piksi_name)" />
    </node>
    <group if="$(arg diag_on)">
        <node pkg="diagnostic_aggregator" type="aggregator_node" name="$(arg node_name)_diagnostic_aggregator" >
            <rosparam command="delete" param="/diagnostic_aggregator" />
            <rosparam command="load" file="$(find swiftnav_piksi)/config/swiftnav_piksi_diag.yaml" />
        </node>

        <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="rqt_robot_monitor" />
    </group>
</launch>
