<launch>
    <param name="use_sim_time" value="true" />

    <arg name="bag_path" default="/home/abs8rng/Bagfiles/10.12.1215/bag3/" />
    <arg name="bag_name_1" default="2015-12-10-15-40-21_1" />
    <arg name="Rate" default="1" />
    <arg name="Topic_name" default="/sensor/gps/trimble/fix" />

    <node pkg="rosbag" type="play" name="player" output="screen" args="-l -r $(arg Rate) $(arg bag_path)$(arg bag_name_1).bag" />

    <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="rqt_robot_monitor" />

	<!-- <node pkg="rqt_plot" type="rqt_plot" name="rqt_bag_file_plot" output="screen" args="$(arg Topic_name)" /> -->

</launch>
